* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(26, 26, 26);
    width: 100%;
    height: 60%;
    overflow-x: hidden;
}

main{

    height:2%;
}

h1 {
    width: fit-content;
    margin: 15px auto;
    text-align: center;
}

iframe {
    overflow: hidden;
}

nav {
    width:fit-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.596);
}

li a:hover {
    background-color: rgb(17, 17, 17);
}

.active {
    background-color: rgb(0, 105, 4);
}

/*Home page*/
#explanation{
    width: 30%;
}


/* Visualisation page */
.row {
    width: 99%;
    height: 0.1vh;
    margin: 1%;
    margin-left: 0%;
    padding: 0;
    display: table;
    /*background-color: purple; */

}

.input-settings-column {
    padding: 0;
    margin: 0;
    width: 20%;
    height: 100%;
    float: left;
}

/*Input box*/
.inputcolumn {
    background: rgb(71, 71, 71);
    border: 2px solid rgb(0, 0, 0);
    padding: 1%;
    width: 100%; 
    height: 47.5%;
    color: white;
    text-align: center;
    margin: 0%;
}

.button_upload {
    background-color: rgb(0, 160, 5);
    color: rgb(255, 255, 255);
    text-align: center;
    
    
    padding: 10px;
    width: 70%;
    cursor: pointer;
}

.file_submit_button {
    background-color: rgb(0, 160, 5);
    color: rgb(255, 255, 255);
    text-align: center;
    
    font-size: 12px;
    padding: 12px;
    cursor: pointer;
}

/*Vis Box*/
.viscolumn {
    width: 79%;
    max-height: 40vh;
    padding: 0%;
    float: right; 
    color: white;
    margin-top: 0%;
    margin-left: 1%;
    margin-right: 0%;
    /*background-color: magenta; */
    display: table;
}

.visbox {

    height: 100%;
    border: 2px solid black;
    background-color: rgb(78, 78, 78);
    padding: 1%;
    color: white;
    text-align: center;
    margin-right: 0%;
    display: table-cell;
}

/*individual visboxes */
#visbox_1{
    width: 49.5%;
    float: left;
}

#visbox_2{
    width: 49.5%;
    margin-left: 1%;
    float: left;
}

.visbox:fullscreen {
    background-color: rgb(80, 80, 80);
}

/*buttons above visualisations*/
.visbar {
    width: 100%;
    position: relative;
    display: inline-block;
    height: auto;
}

.dropdownbutton {
    background-color: rgb(0, 160, 5);
    color: white;
    padding: 10px;

    width: fit-content; 
    font-size: 16px;
    border: none;
    margin: 0;
}

.dropdownbutton:hover{
    background-color: rgb(0, 122, 4);
}

.dropdown {
    position: relative;
    /*float: left; */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content c {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    background-color: white;
}

.dropdown-content c.catselected {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    background-color: rgb(13, 161, 0);
}

.dropdown-content c:hover {background-color: rgb(209, 209, 209);}

.dropdown-content c.catselected:hover {background-color: rgb(0, 97, 5);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.visoption  {
    color: black;
    padding: 12px;
    display: block;
    background-color: rgb(255, 255, 255);
}

.dropdown-content v.visoption:hover {background-color: rgb(136, 136, 136);}

.visselected  {
    color: black;
    padding: 12px;
    display: block;
    background-color: rgb(0, 197, 10);
}

.dropdown-content v.visselected:hover {background-color: rgb(0, 117, 10);}

.dropdown_vis {
    position: relative;
    float: left; 
}

.dropdown_vis:hover .dropdown-content {display: block;}

.dropdown_vis:hover .dropbtn {background-color: #3e8e41;}

.fullscreen_div {
    float: right;
}

.fullscreen_button {
    float: right;
    background-color: rgb(143, 143, 143);

    cursor: pointer;
}

.fullscreen_button img{
    width: 40px;
}

.search_div{
    margin-left: auto;
    margin-right: auto;
    height: 0;
    display: inline;
    vertical-align: bottom;
}

.searchbox {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: 60%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.search_button {
    background-color: rgb(0, 160, 5);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 30%;
    padding: 12px;  
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

/*settings box*/
.settingscolumn {
    width: 100%;
    background-color: rgb(71, 71, 71);

    border: 2px solid rgb(0, 0, 0);
    padding: 1%;
    color: white;
    text-align: center;

    height: 50%;
    margin-top: 0%;
}

.settings_popup {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.settings_content {
    background-color: rgb(97, 97, 97);
    width: 50%;
    margin: auto;
    margin-top: 5%;
    
    padding: 20px;
}

/* The Close Button */
.close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 40px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.advanced_button {
    color: black;
    margin-top: 1%;
}

.gh-fullwidth {
    width: 100%;
}

.viswrap {
    width: 100%; 
    overflow: none;
    /*background-color: magenta; */
    min-height: 78vh;
    position: relative;
}

.visframe {
    width: 100%; 
    min-height: 78vh;
    /*background-color: aqua; */
    overflow: hidden;
    display: none;
    float: left;
}

.visframe.visible {
    display: inline;
}

.fullscreen {
    width: 100%;
    max-width: 100%;
    height: 100%;

    /*background-color: rgb(68, 0, 255); */
    display: none;
    transform: translate(-49vw, 0); 
    transform-origin: top left;
    position: absolute;
    float: left;
}

#visualisation_1_1.fullscreen {
    transform: translate(-49vw, 0) scale(1.4);
}

#visualisation_2_1.fullscreen {
    transform: translate(-49vw, 0) scale(1.4);
}
