<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="visualisation"> Visualisation</a>
            <a class="active" href="about"> About</a>
        </nav>
        <main>
            <section>
                <article>
                    <h2> Why did we make this? </h2>
                    <p> I dunno  </p>
                </article>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/yKQ_sQKBASM?autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
            </section>
        </main>

    </body>
</html>
